## **Import Libraries**

In [33]:
import numpy as numpy
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [18]:
data = pd.read_csv('ITSM_Cleaned_Dataset')

In [19]:
data.head()

,CI_Cat,CI_Subcat,Status,Impact,Urgency,Priority,number_cnt,Category,No_of_Reassignments,Closure_Code,No_of_Related_Interactions
0,10,62,1,5,4,4,0.601292,2,0.0,14,1
1,11,62,1,3,3,3,0.415050,2,0.0,13,1
2,11,61,1,2,3,4,0.517551,1,3.0,11,1
3,11,62,1,5,4,4,0.642927,2,0.0,7,1
4,11,62,1,5,4,4,0.345258,2,2.0,14,1

In [20]:
data.sample(10)

,CI_Cat,CI_Subcat,Status,Impact,Urgency,Priority,number_cnt,Category,No_of_Reassignments,Closure_Code,No_of_Related_Interactions
21959,11,62,1,5,4,4,0.028525,2,5.0,13,1
17665,9,60,1,4,5,5,0.041296,2,1.0,13,1
8239,11,62,1,5,4,4,0.948669,2,0.0,14,1
405,10,62,1,5,4,4,0.828792,1,0.0,14,1
12531,9,58,1,3,3,3,0.089525,2,1.0,12,1
41043,10,63,1,5,4,4,0.761134,2,0.0,12,1
41038,11,63,1,4,5,5,0.558176,1,0.0,14,1
2893,11,59,1,4,5,5,0.836272,1,0.0,14,1
26713,11,63,1,5,4,4,0.660656,2,0.0,14,1
11201,8,48,1,3,3,3,0.834951,2,0.0,10,1

In [21]:
data.isnull().sum()

CI_Cat                        0
CI_Subcat                     0
Status                        0
Impact                        0
Urgency                       0
Priority                      0
number_cnt                    0
Category                      0
No_of_Reassignments           0
Closure_Code                  0
No_of_Related_Interactions    0
dtype: int64

In [22]:
data.duplicated().sum()

0

## **Split Data into x and y**

In [23]:
X=data.drop("Priority",axis=1)
y=data.Priority

In [24]:
X.head()

,CI_Cat,CI_Subcat,Status,Impact,Urgency,number_cnt,Category,No_of_Reassignments,Closure_Code,No_of_Related_Interactions
0,10,62,1,5,4,0.601292,2,0.0,14,1
1,11,62,1,3,3,0.415050,2,0.0,13,1
2,11,61,1,2,3,0.517551,1,3.0,11,1
3,11,62,1,5,4,0.642927,2,0.0,7,1
4,11,62,1,5,4,0.345258,2,2.0,14,1

In [25]:
y.head()

0    4
1    3
2    4
3    4
4    4
Name: Priority, dtype: int64

In [26]:
y.value_counts()

Priority
4    24097
5    16485
3     5323
2      697
1        3
Name: count, dtype: int64

In [28]:
# Label Encoding
enc= LabelEncoder()
for i in (0,1,2,3):
    X.iloc[:,i] = enc.fit_transform(X.iloc[:,i])

In [31]:
X.head()

,CI_Cat,CI_Subcat,Status,Impact,Urgency,number_cnt,Category,No_of_Reassignments,Closure_Code,No_of_Related_Interactions
0,10,62,1,5,4,0.601292,2,0.0,14,1
1,11,62,1,3,3,0.415050,2,0.0,13,1
2,11,61,1,2,3,0.517551,1,3.0,11,1
3,11,62,1,5,4,0.642927,2,0.0,7,1
4,11,62,1,5,4,0.345258,2,2.0,14,1

In [32]:
y.head()

0    4
1    3
2    4
3    4
4    4
Name: Priority, dtype: int64

In [34]:
# Splitting the data into test and train for calculating accuracy
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [35]:
# Standardization technique
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [36]:
X_train.shape

(32623, 10)

In [37]:
X_test.shape

(13982, 10)

In [42]:
# Training the model
from sklearn.svm import SVC
rbf_svc = SVC(kernel='rbf',C=10,gamma=0.1).fit(X_train,y_train)

In [43]:
# Predicting the model
y_predict_svm = rbf_svc.predict(X_test)

In [44]:
# Finding accuracy, precision, recall and confusion matrix
print(accuracy_score(y_test,y_predict_svm))
print(classification_report(y_test,y_predict_svm))

0.9974251689732861
              precision    recall  f1-score   support

           2       1.00      0.97      0.98       158
           3       1.00      0.99      0.99      1064
           4       1.00      1.00      1.00      4844
           5       1.00      1.00      1.00      3255

    accuracy                           1.00      9321
   macro avg       1.00      0.99      0.99      9321
weighted avg       1.00      1.00      1.00      9321